body {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    overflow-x: hidden;
    font-size: 62.5%;

    .images {
        margin-right: 50px;
        display: flex;
        align-items: center;
    }

    .symbol {
        position: relative;
    }


    .glitch {
        position: relative;
        color: white;
        left: 15%;
        top: 16vh;
        width: 100%;
    }

    .glitch.you-are::before,
    .glitch.you-are::after {
        color: #F1FA8B;
    }

    .info .glitch {
        position: relative;
        top: 0;
        font-size: 3rem;
        margin: 1vw 0;
    }

    .info h2 {
        font-size: 2rem;
        // text-align: center;
    }

    .take-quiz {
        position: relative;
        bottom: -55vh;
        left: 35%;
    }

    a.white-out,
    .quiz-button {
        color: black;
        background-color: #F1FA8B;
        padding: 2px 8px;
        &:hover {
            background-color: white;
        }
    }

    .glitch:after {
        animation: glitch-animation 50s infinite linear alternate-reverse;
        background: black;
        text-align: center;
        clip: rect( 0, 900px, 0, 0 );
        color: white;
        content: attr( data-text );
        left: 2px;
        overflow: hidden;
        position: absolute;
        text-shadow: -1px 0 red;
        top: 0;
    }

    .glitch:before {
        animation: glitch-animation-2 50s infinite linear alternate-reverse;
        background: black;
        clip: rect( 0, 900px, 0, 0 );
        color: white;
        content: attr( data-text );
        left: -2px;
        overflow: hidden;
        position: absolute;
        text-shadow: 1px 0 blue;
        top: 0;
    }
}