body {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    .quizQuestion {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 100px 0;
    }

    .solarsystemText {
        width: 90%;
        justify-content: center;
        margin: 0 auto;
        padding: 100px 0;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30px;
        display: flex;
    }

    .images {
        margin-right: 50px;
    }

    .symbol {
        position: relative;
    }

    .solarsystemText .images {
        width: 30%;
        animation: pulse2 5s infinite;
    } 

    .solarsystemText .info {
        padding: 20px;  
    }

    .text { 
        position: absolute;
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .arrow {
        text-align: center;
        position: relative;
        top: -20vh;
        h1 {
            margin: 0;
            font-size: 10vh;
        }  
    }

    .info .glitch {
        top: 150px;
        left: 680px;
    }

    .info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .glitch {
        position: relative;
        color: white;
        left: 8%;
        width: 80%;
    }

    a.whiteOut {
        color: black;
        background-color: white;
        padding: 2px 8px;
        &:hover {
            background-color: #F1FA8B;;
        }
    }

    .glitch:after {
        animation: glitch-animation 26s infinite linear alternate-reverse;
        background: black;
        clip: rect( 0, 900px, 0, 0 );
        color: white;
        content: attr( data-text );
        left: 2px;
        overflow: hidden;
        position: absolute;
        text-shadow: -1px 0 red;
        top: 0;
    }

    .glitch:before {
        animation: glitch-animation-2 26s infinite linear alternate-reverse;
        background: black;
        clip: rect( 0, 900px, 0, 0 );
        color: white;
        content: attr( data-text );
        left: -2px;
        overflow: hidden;
        position: absolute;
        text-shadow: 1px 0 blue;
        top: 0;
    }

    .twinkling {
        background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
        overflow: hidden;
        z-index:1;
        animation:move-twink-back 500s linear infinite;
    }

    .solarsystem {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .sun {
        height: 100px;
        width: 100px;
        background-color: orangered;
        box-shadow:0 0 20px orangered;
        border-radius: 50%;
        z-index: 10;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: pulse 2s infinite;
    }

    .planet {
        height: 15px;
        width: 15px;
        background-color: #ccc;
        border-radius: 50%;
        z-index: 15;
        position: absolute;
    }

    .planet1 {
        height: 5px;
        width: 5px;
        background-color: slategray;
        transform: translateX(100px);
        animation: orbit1 7.2s linear infinite;
    }

    .planet2 {
        height: 7px;
        width: 7px;
        transform: translateX(110px);
        background-color: palegoldenrod;
        animation: orbit2 7s linear infinite;
    }

    .planet3 {
        width: 8px;
        height: 8px;
        position: relative;
        transform: translateX(120px);
        background-color: dodgerblue;
        animation: orbit3 7.9s linear infinite;
    }

    // .planet3::before {
    //     content: '← you are here';
    //     width: 100px;
    //     font-size: 10px;
    //     text-transform: uppercase;
    //     position: absolute;
    //     left: 13px;
    //     top: -2px;
    //     color: white;
    //     transition: 0.5s;
    // }

    .planet4 {
        width: 6px;
        height: 6px;
        transform: translateX(140px);
        background-color: red;
        animation: orbit4 8.7s linear infinite;
    }

    .planet5 {
        width: 12px;
        height: 12px;
        transform: translateX(200px);
        background-color: beige;
        animation: orbit5 10s linear infinite;
    }

    .planet6 {
        width: 11px;
        height: 11px;
        transform: translateX(250px);
        background-color: lightyellow;
        animation: orbit6 10.2s linear infinite;
    }

    .planet7 {
        width: 10px;
        height: 10px;
        transform: translateX(300px);
        background-color: aqua;
        animation: orbit7 10s linear infinite;
    }

    .planet8 {
        width: 9px;
        height: 9px;
        transform: translateX(350px);
        background-color: skyblue;
        animation: orbit8 11s linear infinite;
    }

    .planet9 {
        width: 4px;
        height: 4px;
        transform: translateX(400px);
        background-color: burlywood;
        animation: orbit9 12s linear infinite;
    } 

    .question {
        margin-top: 150px;
    }

    header {
        z-index: 20;
    }

    form {
        text-align: center;
        width: 70vw;
        margin: 0 auto;
        z-index: 25;
        position: relative;
        top: -32vw;
        overflow-y: hidden;
    }

    fieldset h2 {
        background-color: white;
        margin: 4px 0;
        font-size: 2.5vw;
        color: black;
        padding: 4px 8px;
        display: inline-block;
    }

    fieldset {
        border: 0;
        text-align: left;
        h2:last-of-type {
            margin-bottom: 4%;
        }
    }

    label {
        color: white;
        font-family: 'VT323', monospace;
        font-size: 2vw;
        h2 {
            font-size: 2vw;
            padding: 0;
        }
    }

    input[type="radio"]{
        display: none;
    }  

    input[type="radio"] + label{
        background-color: white;
        color: black;
        letter-spacing: 1px;
        line-height: 4vw;
        padding: 5px 10px;
    }

    input[type="radio"]:checked + label{
        background-color: black;
        color: white;
    } 

    i {
        font-size: 2.5vw;
        position: relative;
        top: -0.5vw;
    }
}