
@media only screen and (max-width: 680px) {
    form {
        width: 80%;
    }
    .solarsystem-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        top: 0;
        ul {
            padding-bottom: 3rem;
        }
        li {
            margin: 0.2rem 0;
        }
        .glitch {
            left: 29%;
        }
        input[type=reset] {
            left: 0.2rem;
        }
    }

     .solarsystem-text {
        position: relative;
    }

    .glitch.you-are {
        display: none;
    }

    input[type="submit"] {
        left: -8%;
    }
}
