
@media (max-width: 680px) {
    
    header {
        position: fixed;
    }

    header img {
        visibility: hidden;
    }

    form {
        width: 80%;
    }

    .solarsystem-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        top: 0;
        img {
            display: none;
        }

        li {
            margin: 0.2rem 0;
        }
        .glitch {
            left: 29%;
        }
        input[type=reset] {
            left: 0.2rem;
        }
    }

     .solarsystem-text {
        position: fixed;
    }

    .glitch.you-are {
        display: none;
    }

    input[type="submit"] {
        left: -8%;
    }
}
