    

     .info {
         text-align: left;
         margin: 0;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }
     
     .solarsystem-text {
        width: 80vw;
        margin: 0 auto;
        position: relative;
        height: 100vh;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30px;
        ul {
            margin-bottom: 2rem;
        }
        h1 {
            color: #F1FA8B;
            font-size: 4vh;
        }
        .glitch {
            left: 28%;
        }
        .images {
            width: 40%;
            top: -2rem;
            left: 1rem;
            position: relative;
            animation: pulse2 5s infinite;
        }
        h2 {
            left: -2rem;
        }
        input[type="reset"] {
            left: -7%;
        }
    }

   