     h1{
        margin: 0;
        // line-height: 0;
        // border: 1px solid red;
     }

     .quizAnswers h2 {
         border: 1px solid red;
     }

     .glitch.you-are {
        top: 10rem;
        position: relative;
        font-size: 6vw;
        color: #F1FA8B;
        left: 40%;
    }
     
     .solarsystem-text {
        width: 80vw;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        height: 100vh;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30px;
    }

    .solarsystem-text .images {
        width: 50%;
        animation: pulse2 5s infinite;
    } 