h1 {
    font-family: 'VT323', monospace;
    font-size: 6vw;
    margin: 0;
    color: white;
}

.solarsystemText h1 {
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-family: 'VT323', monospace;
  font-size: 3.5vw;
  margin: 2% 0;
  color: white;
  z-index: 15;
}

p, ul li {
  font-family: 'VT323', monospace;
  color: white;
  font-size: 25px;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #F1FA8B;
} 

