img {
  width: 100%;
}

.pulse {
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.pulse2 {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}