article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form {
  text-align: left;
  margin-left: 480px;
  margin-top: 50px; }

label {
  color: white;
  font-family: 'VT323', monospace;
  font-size: 20px; }

img {
  width: 100%; }

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.pulse2 {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

h1 {
  font-family: 'VT323', monospace;
  z-index: 15;
  font-size: 40px;
  color: white;
  margin: 20px 0;
  left: 300px;
  bottom: 30px; }

.solarsystemText h1 {
  margin: 0;
  text-transform: uppercase; }

h2 {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: white;
  margin: 5px 0; }

.text h2 {
  left: -210px;
  top: 15px;
  position: relative; }

p, ul li {
  font-family: 'VT323', monospace;
  color: white;
  font-size: 25px; }

a {
  color: greenyellow;
  text-decoration: none; }

a:hover {
  color: grey; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-webkit-keyframes orbit1 {
  from {
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
    transform: rotate(0deg) translateX(100px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-300deg);
    transform: rotate(360deg) translateX(100px) rotate(-300deg); } }

@keyframes orbit1 {
  from {
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
    transform: rotate(0deg) translateX(100px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(100px) rotate(-300deg);
    transform: rotate(360deg) translateX(100px) rotate(-300deg); } }

@-webkit-keyframes orbit2 {
  from {
    -webkit-transform: rotate(0deg) translateX(110px) rotate(0deg);
    transform: rotate(0deg) translateX(110px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(110px) rotate(-300deg);
    transform: rotate(360deg) translateX(110px) rotate(-300deg); } }

@keyframes orbit2 {
  from {
    -webkit-transform: rotate(0deg) translateX(110px) rotate(0deg);
    transform: rotate(0deg) translateX(110px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(110px) rotate(-300deg);
    transform: rotate(360deg) translateX(110px) rotate(-300deg); } }

@-webkit-keyframes orbit3 {
  from {
    -webkit-transform: rotate(0deg) translateX(-120px) rotate(0deg);
    transform: rotate(0deg) translateX(-120px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(-120px) rotate(-300deg);
    transform: rotate(360deg) translateX(-120px) rotate(-300deg); } }

@keyframes orbit3 {
  from {
    -webkit-transform: rotate(0deg) translateX(-120px) rotate(0deg);
    transform: rotate(0deg) translateX(-120px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(-120px) rotate(-300deg);
    transform: rotate(360deg) translateX(-120px) rotate(-300deg); } }

@-webkit-keyframes orbit4 {
  from {
    -webkit-transform: rotate(0deg) translateX(140px) rotate(0deg);
    transform: rotate(0deg) translateX(140px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(140px) rotate(-300deg);
    transform: rotate(360deg) translateX(140px) rotate(-300deg); } }

@keyframes orbit4 {
  from {
    -webkit-transform: rotate(0deg) translateX(140px) rotate(0deg);
    transform: rotate(0deg) translateX(140px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(140px) rotate(-300deg);
    transform: rotate(360deg) translateX(140px) rotate(-300deg); } }

@-webkit-keyframes orbit5 {
  from {
    -webkit-transform: rotate(0deg) translateX(-200px) rotate(0deg);
    transform: rotate(0deg) translateX(-200px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(-200px) rotate(-300deg);
    transform: rotate(360deg) translateX(-200px) rotate(-300deg); } }

@keyframes orbit5 {
  from {
    -webkit-transform: rotate(0deg) translateX(-200px) rotate(0deg);
    transform: rotate(0deg) translateX(-200px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(-200px) rotate(-300deg);
    transform: rotate(360deg) translateX(-200px) rotate(-300deg); } }

@-webkit-keyframes orbit6 {
  from {
    -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
    transform: rotate(0deg) translateX(250px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(250px) rotate(-300deg);
    transform: rotate(360deg) translateX(250px) rotate(-300deg); } }

@keyframes orbit6 {
  from {
    -webkit-transform: rotate(0deg) translateX(250px) rotate(0deg);
    transform: rotate(0deg) translateX(250px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(250px) rotate(-300deg);
    transform: rotate(360deg) translateX(250px) rotate(-300deg); } }

@-webkit-keyframes orbit7 {
  from {
    -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
    transform: rotate(0deg) translateX(300px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-300deg);
    transform: rotate(360deg) translateX(300px) rotate(-300deg); } }

@keyframes orbit7 {
  from {
    -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
    transform: rotate(0deg) translateX(300px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-300deg);
    transform: rotate(360deg) translateX(300px) rotate(-300deg); } }

@-webkit-keyframes orbit8 {
  from {
    -webkit-transform: rotate(0deg) translateX(-350px) rotate(0deg);
    transform: rotate(0deg) translateX(-350px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(-350px) rotate(-300deg);
    transform: rotate(360deg) translateX(-350px) rotate(-300deg); } }

@keyframes orbit8 {
  from {
    -webkit-transform: rotate(0deg) translateX(-350px) rotate(0deg);
    transform: rotate(0deg) translateX(-350px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(-350px) rotate(-300deg);
    transform: rotate(360deg) translateX(-350px) rotate(-300deg); } }

@-webkit-keyframes orbit9 {
  from {
    -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg);
    transform: rotate(0deg) translateX(400px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(400px) rotate(-300deg);
    transform: rotate(360deg) translateX(400px) rotate(-300deg); } }

@keyframes orbit9 {
  from {
    -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg);
    transform: rotate(0deg) translateX(400px) rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg) translateX(400px) rotate(-300deg);
    transform: rotate(360deg) translateX(400px) rotate(-300deg); } }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes pulse2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0); }
  5% {
    clip: rect(12px, 9999px, 59px, 0); }
  10% {
    clip: rect(48px, 9999px, 29px, 0); }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0); }
  20% {
    clip: rect(63px, 9999px, 27px, 0); }
  25% {
    clip: rect(34px, 9999px, 55px, 0); }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0); }
  35% {
    clip: rect(20px, 9999px, 20px, 0); }
  40% {
    clip: rect(26px, 9999px, 60px, 0); }
  45% {
    clip: rect(25px, 9999px, 66px, 0); }
  50% {
    clip: rect(57px, 9999px, 98px, 0); }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0); }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0); }
  65% {
    clip: rect(54px, 9999px, 27px, 0); }
  70% {
    clip: rect(28px, 9999px, 99px, 0); }
  75% {
    clip: rect(45px, 9999px, 69px, 0); }
  80% {
    clip: rect(23px, 9999px, 85px, 0); }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0); }
  90% {
    clip: rect(45px, 9999px, 47px, 0); }
  95% {
    clip: rect(37px, 9999px, 20px, 0); }
  100% {
    clip: rect(4px, 9999px, 91px, 0); } }

@keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0); }
  5% {
    clip: rect(12px, 9999px, 59px, 0); }
  10% {
    clip: rect(48px, 9999px, 29px, 0); }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0); }
  20% {
    clip: rect(63px, 9999px, 27px, 0); }
  25% {
    clip: rect(34px, 9999px, 55px, 0); }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0); }
  35% {
    clip: rect(20px, 9999px, 20px, 0); }
  40% {
    clip: rect(26px, 9999px, 60px, 0); }
  45% {
    clip: rect(25px, 9999px, 66px, 0); }
  50% {
    clip: rect(57px, 9999px, 98px, 0); }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0); }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0); }
  65% {
    clip: rect(54px, 9999px, 27px, 0); }
  70% {
    clip: rect(28px, 9999px, 99px, 0); }
  75% {
    clip: rect(45px, 9999px, 69px, 0); }
  80% {
    clip: rect(23px, 9999px, 85px, 0); }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0); }
  90% {
    clip: rect(45px, 9999px, 47px, 0); }
  95% {
    clip: rect(37px, 9999px, 20px, 0); }
  100% {
    clip: rect(4px, 9999px, 91px, 0); } }

@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0); }
  5% {
    clip: rect(52px, 9999px, 74px, 0); }
  10% {
    clip: rect(79px, 9999px, 85px, 0); }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0); }
  20% {
    clip: rect(67px, 9999px, 61px, 0); }
  25% {
    clip: rect(14px, 9999px, 79px, 0); }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0); }
  35% {
    clip: rect(86px, 9999px, 30px, 0); }
  40% {
    clip: rect(23px, 9999px, 98px, 0); }
  45% {
    clip: rect(85px, 9999px, 72px, 0); }
  50% {
    clip: rect(71px, 9999px, 75px, 0); }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0); }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0); }
  65% {
    clip: rect(59px, 9999px, 50px, 0); }
  70% {
    clip: rect(41px, 9999px, 62px, 0); }
  75% {
    clip: rect(2px, 9999px, 82px, 0); }
  80% {
    clip: rect(47px, 9999px, 73px, 0); }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0); }
  90% {
    clip: rect(26px, 9999px, 55px, 0); }
  95% {
    clip: rect(42px, 9999px, 97px, 0); }
  100% {
    clip: rect(38px, 9999px, 49px, 0); } }

@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0); }
  5% {
    clip: rect(52px, 9999px, 74px, 0); }
  10% {
    clip: rect(79px, 9999px, 85px, 0); }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0); }
  20% {
    clip: rect(67px, 9999px, 61px, 0); }
  25% {
    clip: rect(14px, 9999px, 79px, 0); }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0); }
  35% {
    clip: rect(86px, 9999px, 30px, 0); }
  40% {
    clip: rect(23px, 9999px, 98px, 0); }
  45% {
    clip: rect(85px, 9999px, 72px, 0); }
  50% {
    clip: rect(71px, 9999px, 75px, 0); }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0); }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0); }
  65% {
    clip: rect(59px, 9999px, 50px, 0); }
  70% {
    clip: rect(41px, 9999px, 62px, 0); }
  75% {
    clip: rect(2px, 9999px, 82px, 0); }
  80% {
    clip: rect(47px, 9999px, 73px, 0); }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0); }
  90% {
    clip: rect(26px, 9999px, 55px, 0); }
  95% {
    clip: rect(42px, 9999px, 97px, 0); }
  100% {
    clip: rect(38px, 9999px, 49px, 0); } }

body {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0; }
  body .quizQuestion {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0; }
  body .solarsystemText {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  body .images {
    margin-right: 50px; }
  body .symbol {
    position: relative; }
  body .solarsystemText .images {
    width: 40%;
    -webkit-animation: pulse2 5s infinite;
    animation: pulse2 5s infinite; }
  body .solarsystemText .info {
    padding: 20px; }
  body .text {
    width: 100vw;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 190px;
    left: 190px; }
  body .arrow {
    position: relative;
    bottom: -340px;
    left: -70px; }
  body .info .glitch {
    top: 150px;
    left: 680px; }
  body .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  body .glitch {
    color: white;
    margin: 0 auto;
    width: 800px; }
  body .glitch {
    position: absolute; }
  body .glitch:after {
    animation: glitch-animation 2s infinite linear alternate-reverse;
    background: black;
    clip: rect(0, 900px, 0, 0);
    color: white;
    content: attr(data-text);
    left: 2px;
    overflow: hidden;
    position: absolute;
    text-shadow: -1px 0 red;
    top: 0; }
  body .glitch:before {
    animation: glitch-animation-2 3s infinite linear alternate-reverse;
    background: black;
    clip: rect(0, 900px, 0, 0);
    color: white;
    content: attr(data-text);
    left: -2px;
    overflow: hidden;
    position: absolute;
    text-shadow: 1px 0 blue;
    top: 0; }
  body .twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    overflow: hidden;
    z-index: 1;
    -webkit-animation: move-twink-back 500s linear infinite;
    animation: move-twink-back 500s linear infinite; }
  body .solarsystem {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden; }
  body .sun {
    height: 100px;
    width: 100px;
    background-color: orangered;
    -webkit-box-shadow: 0 0 20px orangered;
    box-shadow: 0 0 20px orangered;
    border-radius: 50%;
    z-index: 10;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite; }
  body .planet {
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    z-index: 15;
    position: absolute; }
  body .planet1 {
    height: 5px;
    width: 5px;
    background-color: slategray;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-animation: orbit1 7.2s linear infinite;
    animation: orbit1 7.2s linear infinite; }
  body .planet2 {
    height: 7px;
    width: 7px;
    -webkit-transform: translateX(110px);
    -ms-transform: translateX(110px);
    transform: translateX(110px);
    background-color: palegoldenrod;
    -webkit-animation: orbit2 7s linear infinite;
    animation: orbit2 7s linear infinite; }
  body .planet3 {
    width: 8px;
    height: 8px;
    -webkit-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px);
    background-color: dodgerblue;
    -webkit-animation: orbit3 7.9s linear infinite;
    animation: orbit3 7.9s linear infinite; }
  body .planet4 {
    width: 6px;
    height: 6px;
    -webkit-transform: translateX(140px);
    -ms-transform: translateX(140px);
    transform: translateX(140px);
    background-color: red;
    -webkit-animation: orbit4 8.7s linear infinite;
    animation: orbit4 8.7s linear infinite; }
  body .planet5 {
    width: 12px;
    height: 12px;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
    background-color: beige;
    -webkit-animation: orbit5 10s linear infinite;
    animation: orbit5 10s linear infinite; }
  body .planet6 {
    width: 11px;
    height: 11px;
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
    background-color: lightyellow;
    -webkit-animation: orbit6 10.2s linear infinite;
    animation: orbit6 10.2s linear infinite; }
  body .planet7 {
    width: 10px;
    height: 10px;
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    background-color: aqua;
    -webkit-animation: orbit7 10s linear infinite;
    animation: orbit7 10s linear infinite; }
  body .planet8 {
    width: 9px;
    height: 9px;
    -webkit-transform: translateX(350px);
    -ms-transform: translateX(350px);
    transform: translateX(350px);
    background-color: skyblue;
    -webkit-animation: orbit8 11s linear infinite;
    animation: orbit8 11s linear infinite; }
  body .planet9 {
    width: 4px;
    height: 4px;
    -webkit-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transform: translateX(400px);
    background-color: burlywood;
    -webkit-animation: orbit9 12s linear infinite;
    animation: orbit9 12s linear infinite; }
